@{
    ViewBag.Title = "About this Sample";
}
<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        <p>This project is a collection of samples of creating Single Page Applications using AngularJS alongside ASP.NET MVC5.
            The project was built using the default ASP.NET project template and the AngularController was added for the demos.
        </p>
        
        <h2>About the Author</h2>
        <p>This demonstration was created by Mitchel Sellers, the CEO of IowaComputerGurus, Inc.  For any questions you may email him
            msellers@iowacomputergurus.com, contact him via Twitter at <a href="http://www.twitter.com/mitchelsellrs">@@MitchelSellers</a>, or by
            visiting his blog at <a href="http://www.mitchelsellers.com">www.MitchelSellers.com</a>.  Thanks for reviewing!</p>
    </div>
</div>