@{
    ViewBag.Title = "Contact Mitchel";
}
<h2>@ViewBag.Title.</h2>

<address>
    IowaComputerGurus, Inc.<br />
    5550 Wild Rose Lane, Suite 400<br />
    West Des Moines, Iowa 50266<br />
    <abbr title="Phone">P:</abbr>
    515-270-7063
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:msellers@Iowacomputergurus.com">msellers@iowacomputergurus.com</a><br />
    <strong>Twitter:</strong> <a href="http://www.twitter.com/mitchelsellers">@@mitchelsellers</a><br />
    <strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/mitchelsellers">Mitchel Sellers</a><br />
    <strong>Blog:</strong> <a href="http://www.mitchelsellers.com">MitchelSellers.com</a><br />
    <strong>Business:</strong> <a href="http://www.iowacomputergurus.com">IowaComputerGurus.com</a>
</address>